.modalHeader {
  padding: 21px 32px;
  border-bottom: 1px solid #ccc;
}

.modalHeaderTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
}

.modalBody {
  padding: 32px;
}